<header class="header">
    <div class="header__container">
        <div class="container">
            <div class="header__wrapper">
                <div class="header__upper-wrapper">
                    <div class="logo">
                        <a href="/">
                            <img src="img/logo.svg" alt="">
                        </a>
                    </div>
                    @@include("header-menu.html")
                    <div class="header-contact-us">
                        <a href="#" class="header__upper-button button">Связаться с нами</a>
                        <div class="header-contact-us__image-wrapper">
                            <img src="img/science-foundation-logo.svg" alt="">
                        </div>
                    </div>
                    <div id="burger-menu">
                        <span></span>
                    </div>
                </div>

                <div class="header__text-wrapper">
                    <div class="header__subtitle">Акционерное общество Фонд науки</div>
                    <h1 class="header__title"><span>Комплексная защита</span> <br> здоровья и окружающей среды</h1>
                    <p class="header__text">
                        Разработки для вашего здоровья и безопасности. Мы предлагаем передовые решения и технологии, направленные на защиту человека и окружающей среды от радиационных угроз.
                    </p>
                    <a href="#" class="button header__button">Узнать подробнее</a>
                </div>

                <div class="header__advantages">
                    <div class="header__advantages-item">
                        <p>
                            Более 20 лет опыта в области радиационной безопасности и защиты окружающей среды
                        </p>
                    </div>
                    <div class="header__advantages-item">
                        <p>
                            Используем передовые технологии и разработки для минимизации радиационных рисков
                        </p>
                    </div>
                    <div class="header__advantages-item">
                        <p>
                            Предлагаем комплексные решения от оценки рисков до разработки и внедрения защитных мер
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>