.images-complicated-grid {
  display: grid;
  grid-template-areas:
            "first first second second"
            "first first second second"
            "third fourth second second";
  grid-gap: 20px;

  @include md {
    grid-template-areas:
            "first first second second"
            "third third fourth fourth";
  }

  @include sm {
    grid-template-areas:
            "first"
            "second"
            "third"
            "fourth";
  }

  img {
    border-radius: 16px;
  }

  // .images-complicated-grid__first
  &__first {
    grid-area: first;
    height: 359px;
    width: 100%;
    object-fit: cover;

    @include sm {
      height: 228px;
    }
  }

  // .images-complicated-grid__second
  &__second {
    grid-area: second;
    height: 607px;
    width: 100%;
    object-fit: cover;

    @include md {
      height: 359px;
    }

    @include sm {
      height: 228px;
    }
  }

  // .images-complicated-grid__third
  &__third {
    grid-area: third;
    height: 228px;
    width: 100%;
    object-fit: cover;

    @include md {
      height: 359px;
    }

    @include sm {
      height: 228px;
    }
  }

  // .images-complicated-grid__fourth
  &__fourth {
    grid-area: fourth;
    height: 228px;
    width: 100%;
    object-fit: cover;

    @include md {
      height: 359px;
    }

    @include sm {
      height: 228px;
    }
  }
}