.projects {
  // .projects__container
  &__container {
    padding: 0 40px;

    @include md {
      padding: 0 30px;
    }

    @include sm {
      padding: 0 20px;
    }
  }

  // .projects__cards
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px 20px;

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      grid-template-columns: auto;

      grid-gap: 30px 20px;
    }
  }

  // .projects__pagination
  &__pagination {

  }
}