.reputation-card {
  // .reputation-card__wrapper
  &__wrapper {
  }

  // .reputation-card__title
  &__title {
    margin-bottom: 12px;

    font-size: 40px;
    font-weight: 600;
    line-height: 120%;

    @include lg {
      font-size: 30px;
    }

    @include md {
      font-size: 18px;
    }

    span {
      color: #381cb9;
    }
  }

  // .reputation-card__text
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    color: #101B15CC;

    @include lg {
      font-size: 14px;
    }

    @include md {
      font-size: 13px;
    }
  }
}